*.project
*.classpath
*.springbeans
*.iml
**/*.settings
**/*.smarttomcat
**/*.idea
**/*.vscode
**/target
**/bin
**/build
**/out
**/RemoteSystemsTempFiles
**/servers
**/.DS_Store
**/node_modules
**/.metadata
**/.settings
**/.recommenders
**/ppt
**/backup
**/programs
**/courseOutline/*.docx
**/assessments
**/casestudy
**/projects
**/references/dumbs
**/report
**/*.gitignore
**/Servers
**/*.log