body {
  font-family: Arial, Helvetica, sans-serif;
  /* margin: "5px";
  padding: 10px; */
}

.banner {
  background-image: url("../images/panasonic-banner.png");
  background-size: cover;
  height: 500px;
  padding: 0px;
  border-style: none;
  margin: 0px;
}

/* 4. Combinator Selector */
.primary-nav ul li, .footer-nav ul li  {
  display: inline;
  padding: 10px;
}

/* .main-section {
  text-align: center;
} */

.consumer-products h2 {
  text-align: center;
}

.products-grid{
  display: grid;
  grid-template-columns: repeat(4, 25%);

  /* flex-wrap: wrap; */
  /* grid-template-columns: auto auto auto auto; */
  gap: 5px;
}

.banner-c2a{
  position: relative;
  top: 460px;
  left: 0;
  padding: 10px;
  border: 2px solid blue;
  background-color: blue;
  color: white;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 5px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 5px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .products-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 5px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 5px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 5px;
  }
}